.home-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.title-home {
  font-size: 2.9em;
  margin-bottom: 20px;
}

.image-container {
  margin-top: 20px;
  max-width: 100%; /* Asegura que el contenedor de la imagen no se desborde */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

.home-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
}

@media  screen and (min-width: 720px) {
  .home-container{
    margin-top: 100px;
    width: 95vw;
  }

  .title-home, .home-image{
    max-width: 800px;
    margin: 0 auto;
  }

  .home-image{
    margin-top: 50px;
  }
  
}