#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* General Button */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  display: inline-block;  /* Ensures the element can be transformed */
  padding: 5px 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.2);
}

li{
  list-style: none;
}


/* NAVBAR */
header{
  width: 100vw;
  background-color: #1a1a1a;
  margin-bottom: 10px;
}

.container-navbar{
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.container-navbar ul{
  padding: 0;
  display: flex;
}

.container-navbar button{
  font-weight: bold;
}


.logo {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 1.3em;
  display: inline-block;
}


.yellow{
  color: #FFD700}

.blue{
  color: #87CEEB;
}

.red{
  color: #FF6347;
}

.yellow,
.blue,
.red {
  display: inline-block;
}

@keyframes enlarge {
  0%, 100% { transform: scale(1); margin: 1px; }
  33% { transform: scale(1.2); }
  66% { transform: scale(1); }
}

.yellow-animation {
  animation: enlarge 3s infinite;
}

.blue-animation {
  animation: enlarge 3s infinite;
  animation-delay: 1s;
}

.red-animation {
  animation: enlarge 3s infinite;
  animation-delay: 2s;
}

@media screen and (min-width:720px) {
  .logo{
    font-size: 1.8em;
  }
}